In [1]:
#TOPIC: String Based Assignment Problem

In [2]:
#1. Write a program to reverse a string.

In [4]:
user_input=input("Enter string to reverse:")

reverse_string=user_input[::-1]
print(reverse_string)

Enter string to reverse:madam
madam

In [5]:
#2. Check if a string is a palindrome.

In [6]:
user_input=input("Enter string to check if it is palindrom:")

def is_palindrom(o_input):
    o_input=o_input.lower()
    return o_input==o_input[::-1]

if is_palindrom(user_input):
    print("string is a palindrome")
else:
    print("string is not a palindrome")

Enter string to check if it is palindrom:Madam
string is a palindrome

In [7]:
#3. Convert a string to uppercase.

In [8]:
u_case="hello"

u_case.upper()

'HELLO'

In [9]:
#4. Convert a string to lowercase.

In [10]:
l_case="HELLO"
l_case.lower()

'hello'

In [10]:
#5. Count the number of vowels in a string.

In [11]:
user_input=input("Enter string:")

count=0
for vowels in user_input:
    vowels.lower()
    if vowels in "aeiou":
        count+=1
print(f"Vowels in string: {count}")

Enter string:Welcome to pw
Vowels in string: 4

In [12]:
#6. Count the number of consonants in a string.

In [13]:
user_input=input("Enter string: ")

count=0
for consonants in user_input:
    consonants=consonants.lower()
    if consonants not in 'aeiou':
        count+=1
print('consonants in given strings:',count)

Enter string: Welcome
consonants in given strings: 4

In [14]:
#7. Remove all whitespaces from a string.

In [15]:
user_input=input("Enter string:")
user_input=user_input.replace(" ",'')
print(user_input)

Enter string:Yash Walunj
YashWalunj

In [16]:
#8. Find the length of a string without using the `len()` function.

In [17]:
#convert string to array
user_input=input('Enter string:')

count=0
for i in user_input:
    count+=1
print("Length of string: ",count)

Enter string:Yash Walunj
Length of string:  11

In [18]:
#9. Check if a string contains a specific word.

In [29]:
user_input=input("Enter string: ")

specific_word="yash"

user_input=user_input.lower()
user_input=user_input.split()

def check_word(original_input):
    if specific_word in original_input:
            return True

        
if check_word(user_input):
    print('string contains a specific word')
else:
    print('string not contains a specific word')

Enter string: Yash Walunj
string contains a specific word

In [30]:
#10. Replace a word in a string with another word.

In [31]:
user_input='Data Science Pro'
user_input=user_input.lower()
print(user_input.replace('pro','master'))

data science master

In [33]:
#11. Count the occurrences of a word in a string.

In [33]:
user_input=input("Enter string:")

user_input=user_input.lower()
target_word='welcome'
user_input=user_input.split()

print("the occurrences of a word in a string:",user_input.count(target_word))
count=0
for i in user_input:
    if i == target_word:
        count+=1
print("the occurrences of a word in a string:",count)

Enter string:Welcome to data science class! welcome students
the occurrences of a word in a string: 2
the occurrences of a word in a string: 2

In [34]:
#12. Find the first occurrence of a word in a string.

In [35]:
user_input=input("Enter string: ")

first_occurrence='data'
index=user_input.find(first_occurrence)
print('the first occurrence of a word in a string:',index)

Enter string: Welcome to data science class! welcome students
the first occurrence of a word in a string: 11

In [4]:
#13. Find the last occurrence of a word in a string.

In [36]:
def last_index_of(sentence,word):
    index=sentence.rfind(word)
    
    if index==-1:
        return none
    else:
        return index

sentence='Welcome to data science class! welcome students collect your data'
word='data'
print('the last occurrence of a word in a string:',last_index_of(sentence,word))

the last occurrence of a word in a string: 61

In [37]:
#14. Split a string into a list of words.

In [38]:
user_input="Hello welcome to pw data science pro class"

print('plit  string into a list of words:',user_input.split())

plit  string into a list of words: ['Hello', 'welcome', 'to', 'pw', 'data', 'science', 'pro', 'class']

In [39]:
#15. Join a list of words into a string.

In [40]:
def join_words_to_string(words):
    joined_string=' '.join(words)
    return joined_string

word_list=['Hello', 'welcome', 'to', 'pw', 'data', 'science', 'pro', 'class']
text=join_words_to_string(word_list)
print('Join list of words into a string:',text)

Join list of words into a string: Hello welcome to pw data science pro class

In [41]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [42]:
normal_string='Hello welcome to pw data science pro class'

new_string=normal_string.replace(' ','_')
print('words seprated by underscore string: ',new_string)

words seprated by underscore string:  Hello_welcome_to_pw_data_science_pro_class

In [43]:
#17. Check if a string starts with a specific word or phrase.

In [44]:
def starts_with(text,word):
    result=text.startswith(word)
    
    return result

text="Hello!, yash"
word="Hello!"
if starts_with(text,word):
    print(' string starts with a specific word or phrase')
else:
    print(' string not starts with a specific word or phrase')

 string starts with a specific word or phrase

In [45]:
#18. Check if a string ends with a specific word or phrase.

In [46]:
def ends_with(text,word):
    result=text.endswith(word)
    
    return result

text="Hello!, yash"
word="ash"
if ends_with(text,word):
    print(' string ends with a specific word or phrase')
else:
    print(' string not ends with a specific word or phrase')

 string ends with a specific word or phrase

In [48]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [49]:
user_input="hello world"

new_string=user_input.title()
print('Converted string to title case:',new_string)

Converted string to title case: Hello World

In [50]:
#20. Find the longest word in a string.

In [51]:
def find_longest_word(text):
    text=text.split()
    longest_len=0
    longest_word=''
    
    for word in text:
        if len(word) > longest_len:
            longest_len=len(word)
            longest_word=word
    return longest_word

text=' Hello welcome to pw data science pro class'
longest=find_longest_word(text)
print('longest word in a string:',longest)

longest word in a string: welcome

In [52]:
#21. Find the shortest word in a string.

In [53]:
def find_shortest_word(text):
    text=text.split()
    max_len=100
    shortest_word=''
    
    for word in text:
        if len(word) < max_len:
            max_len=len(word)
            shortest_word=word
    return shortest_word

text=' Hello welcome to pw data science pro class'
shortest=find_shortest_word(text)
print('shortest word in a string:',shortest)

shortest word in a string: to

In [23]:
#22. Reverse the order of words in a string.

In [15]:
def reverse_order_string(text):
    new_text=text.split()
    new_text.reverse()
    reverse_string=' '.join(new_text)
    return reverse_string
    

text='Hello welcome to pw data science pro class'
reverse_order=reverse_order_string(text)
print('Reverse the order of words in a string: ',reverse_order)

Reverse the order of words in a string:  class pro science data pw to welcome Hello

In [60]:
#23. Check if a string is alphanumeric.

In [61]:
def is_alphanumeric(s):
    return s.isalnum()


print(is_alphanumeric("Hello123"))  
print(is_alphanumeric("Hello 123"))

True
False

In [62]:
#24. Extract all digits from a string.

In [64]:
def extract_digits(s):
#     digits = []
    new=""
    for char in s:
        if char.isdigit():
            new+=char
#             digits.append(char)
#     return ''.join(digits)
    return new

# Example usage
input_string = "Hello333YashRaj321"
extracted_digits = extract_digits(input_string)
print(extracted_digits)

333321

In [65]:
#25. Extract all alphabets from a string.

In [66]:
import re

def extract_alphabets(text):
    output=re.findall(r'[a-zA-Z]',text)
    alphabets=''.join(output)
    return alphabets

text='123Yash23Hello'
alphabets=extract_alphabets(text)
print('Alphabets Only: ',alphabets)

Alphabets Only:  YashHello

In [67]:
#26. Count the number of uppercase letters in a string.

In [68]:
def uppercase_letters(input_string):
    count=0
    for ch in input_string:
        if ch==ch.upper():
            count+=1
    return count

input_string='YAshTI'
letters_count=uppercase_letters(input_string)
print('number of uppercase letters in a string: ',letters_count)

number of uppercase letters in a string:  4

In [69]:
#27. Count the number of lowercase letters in a string.

In [70]:
def lowercase_letters(input_string):
    count=0
    for ch in input_string:
        if ch.islower():
            count+=1
    return count

input_string='YAshTI'
letters_count=lowercase_letters(input_string)
print('number of owercase letters in a string: ',letters_count)

number of owercase letters in a string:  2

In [71]:
#28. Swap the case of each character in a string.

In [72]:
def swap_case(input_string):
    return input_string.swapcase()

input_string = "Hello World! How Are You?"
swapped_string = swap_case(input_string)
print("Swapped case string:", swapped_string)

Swapped case string: hELLO wORLD! hOW aRE yOU?

In [73]:
#29. Remove a specific word from a string.

In [79]:
def word_remove(user_input,specific_word):
    user_list=user_input.split()
    o=[]
    for ch in user_list:
        if ch not in specific_word:
            o.append(ch)
    return ' '.join(o)

user_input="Hello World How Are You?"
specific_word='World'
remove_string=word_remove(user_input,specific_word)
print('specific word removed string:',remove_string)

specific word removed string: Hello How Are You?

In [80]:
#29. Remove a specific word from a string.

In [81]:
def word_remove(user_input,specific_word):
    output=user_input.replace(specific_word,'')
    return output


user_input="Hello World How Are You?"
specific_word='World'
remove_string=word_remove(user_input,specific_word)
print('specific word removed string:',remove_string)

specific word removed string: Hello  How Are You?

In [10]:
#30. Check if a string is a valid email address.

In [31]:
import re
def check(address):
    pattern=r"[a-zA-Z]+@[a-zA-Z]+\.[a-zA-Z]+"
    
    if re.match(pattern,address):
        return True
    else:
        return False

address="yash@email.com"
output=check(address)

if output:
    print("string is a valid email address")
else:
    print("string is not a valid email address")

string is a valid email address

In [82]:
#31. Extract the username from an email address string.

In [84]:
import re
def check(address):
    pattern=r"([a-zA-Z]+)@[a-zA-Z]+\.[a-zA-Z]+"
    output=re.findall(pattern,address)
    return output

address="sai@outlook.com and i like to thanks yash@email.com"
output=check(address)
output

['sai', 'yash']

In [85]:
#32. Extract the domain name from an email address string.

In [86]:
import re
def extract(address):
    pattern=r"[a-zA-Z]+@([a-zA-Z]+\.[a-zA-Z]+)"
    result=re.findall(pattern,address)
    return result

address="sai@outlook.com and i like to thanks yash@email.com"
output=extract(address)
output

['outlook.com', 'email.com']

In [87]:
#33. Replace multiple spaces in a string with a single space.

In [89]:
import re
def modify(text):
    result=re.sub(r"\s+"," ",text)
    return result

text="Welcome  to PW             skills    Lab"
output=modify(text)
output

'Welcome to PW skills Lab'

In [1]:
#34. Check if a string is a valid URL.

In [17]:
import re
def valid(url1):
    pattern=r"https://[a-zA-Z]+\.[a-zA-Z]+\.com"
    result=re.compile(pattern) 
    if result.search(url1):
        return True
    else:
        return False
#     return result 

url1 = "https://www.example.com"
url2 = "not_a_valid_url"
output1=valid(url1)
output2=valid(url2)
print(output1)
print(output2)

True
False

In [9]:
#35. Extract the protocol (http or https) from a URL string.

In [92]:
import re
def extract(url):
    pattern=r"([a-zA-Z]+)://[a-zA-Z]+\.[a-zA-Z]+\.com"
    result=re.findall(pattern,url)
    return result
    

url1="http://www.example.com"
url2="https://www.amazon.com"
output1=extract(url1)
output2=extract(url2)
print(output1)
print(output2)

['http']
['https']

In [20]:
#36. Find the frequency of each character in a string.

In [35]:
def frequency(str1):
    lst=[0] * len(str1)
    for i in range(0,len(str1)):
        lst[i]=1
        for j in range(i+1,len(str1)):
            if(str1[i]==str1[j]):
                lst[i]+=1
                str1=str1[:j] + "0" + str1[j+1:]
    
    for i in range(len(str1)):
        if str1[i] != " " and str1[i] != "0":
            print(str1[i] + "-" + str(lst[i]))
            

str1="Hello World"
frequency(str1)

H-1
e-1
l-3
o-2
W-1
r-1
d-1

In [2]:
def character_frequency(string):
    frequency = {}
    for char in string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency

# Example usage:
input_string = "hello world"
frequency = character_frequency(input_string)
print(frequency)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [37]:
#37. Remove all punctuation from a string.

In [3]:
def pun_remove(string):
    punctuation_marks = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
    new_str=""
    for i in string:
        if i not in punctuation_marks:
            new_str+=i
    return new_str

string="Hello, there! How are you doing?"
output=pun_remove(string)
output

'Hello there How are you doing'

In [4]:
string="Hello, there! How are you doing?"
punctuation_marks = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
for char in punctuation_marks:
    string=string.replace(char,'')

string

'Hello there How are you doing'

In [5]:
#38. Check if a string contains only digits.

In [6]:
def show(string):
    result=string.isdigit()
    return result

string="12323"
output=show(string)
output

True

In [7]:
#39. Check if a string contains only alphabets.

In [10]:
def show(string):
    result=string.isalpha()
    return result

string="acbE1"
output=show(string)
output

False

In [59]:
#40. Convert a string to a list of characters.

In [13]:
def str_to_list(string):
    #return [char for char in string]
    return list(string)

string="Hello, World!"
output=str_to_list(string)
output

['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [63]:
#41. Check if two strings are anagrams.

In [16]:
def is_anagram(str1,str2):
    if len(str1) != len(str2):
        return False
    
    for i in str1:
        if i not in str2:
            return False
    return True

str1="car"
str2="rac"
output=is_anagram(str1,str2)
output

True

In [17]:
#42. Encode a string using a Caesar cipher.

In [19]:
def caesar_cipher_encrypt(text, shift):
    encrypted_text = ""
    for char in text:
        if char.isalpha():  
            shifted = ord(char) + shift
            if char.islower():  
                if shifted > ord('z'):
                    shifted -= 26
                elif shifted < ord('a'):
                    shifted += 26
            elif char.isupper():  
                if shifted > ord('Z'):
                    shifted -= 26
                elif shifted < ord('A'):
                    shifted += 26
            encrypted_text += chr(shifted)
        else:
            encrypted_text += char  
    return encrypted_text

# Example usage
text = "Hello, World!"
shift = 3
encrypted_text = caesar_cipher_encrypt(text, shift)
print("Original text:", text)
print("Encrypted text:", encrypted_text)

Original text: Hello, World!
Encrypted text: Khoor, Zruog!

In [35]:
def caesar_cipher_encrypt(text, shift,alphabet_dict):
    text = text.lower()
    encrypted_text = ""
    for char in text:
        if char.isalpha():
            shifted = (alphabet_dict_key[char] + shift) % 26
            encrypted_text += alphabet_dict_value[shifted]
        else:
            encrypted_text += char
    return encrypted_text
        

alphabet_dict_key = {
    'a': 0,
    'b': 1,
    'c': 2,
    'd': 3,
    'e': 4,
    'f': 5,
    'g': 6,
    'h': 7,
    'i': 8,
    'j': 9,
    'k': 10,
    'l': 11,
    'm': 12,
    'n': 13,
    'o': 14,
    'p': 15,
    'q': 16,
    'r': 17,
    's': 18,
    't': 19,
    'u': 20,
    'v': 21,
    'w': 22,
    'x': 23,
    'y': 24,
    'z': 25
}

alphabet_dict_value = {
    0: 'a',1: 'b',2: 'c',3: 'd',4: 'e',5: 'f',6: 'g',7: 'h',8: 'i',9: 'j',10: 'k',11: 'l',12: 'm',13: 'n',14: 'o',15: 'p',
    16: 'q',17: 'r',18: 's',19: 't',20: 'u',21: 'v',22: 'w',23: 'x',24: 'y',25: 'z'
}

# Example usage
text = "Hello, World!"
shift = 3
encrypted_text = caesar_cipher_encrypt(text, shift,alphabet_dict)
print("Original text:", text)
print("Encrypted text:", encrypted_text)

Original text: Hello, World!
Encrypted text: khoor, zruog!

In [ ]:
#43. Decode a Caesar cipher encoded string.

In [28]:
def caesar_cipher_decrypt(text, shift):
    decrypted_text = ""
    for char in text:
        if char.isalpha():  
            shifted = ord(char) - shift
            if char.islower():  
                if shifted > ord('z'):
                    shifted -= 26
                elif shifted < ord('a'):
                    shifted += 26
            elif char.isupper():  
                if shifted > ord('Z'):
                    shifted -= 26
                elif shifted < ord('A'):
                    shifted += 26
            decrypted_text += chr(shifted)
        else:
            decrypted_text += char  
    return decrypted_text

# Example usage
encrypted_text = "Khoor, Zruog!"
shift = 3
decrypted_text = caesar_cipher_decrypt(encrypted_text, shift)
print("Encrypted text:", encrypted_text)
print("Decrypted text:", decrypted_text)

Encrypted text: Khoor, Zruog!
Decrypted text: Hello, World!

In [37]:
def caesar_cipher_decrypt(text, shift,alphabet_dict):
    text = text.lower()
    decrypted_text = ""
    for char in text:
        if char.isalpha():
            shifted = (alphabet_dict_key[char] - shift) % 26
            decrypted_text += alphabet_dict_value[shifted]
        else:
            decrypted_text += char
    return decrypted_text
        

alphabet_dict_key = {
    'a': 0,
    'b': 1,
    'c': 2,
    'd': 3,
    'e': 4,
    'f': 5,
    'g': 6,
    'h': 7,
    'i': 8,
    'j': 9,
    'k': 10,
    'l': 11,
    'm': 12,
    'n': 13,
    'o': 14,
    'p': 15,
    'q': 16,
    'r': 17,
    's': 18,
    't': 19,
    'u': 20,
    'v': 21,
    'w': 22,
    'x': 23,
    'y': 24,
    'z': 25
}

alphabet_dict_value = {
    0: 'a',1: 'b',2: 'c',3: 'd',4: 'e',5: 'f',6: 'g',7: 'h',8: 'i',9: 'j',10: 'k',11: 'l',12: 'm',13: 'n',14: 'o',15: 'p',
    16: 'q',17: 'r',18: 's',19: 't',20: 'u',21: 'v',22: 'w',23: 'x',24: 'y',25: 'z'
}

# Example usage
text = "Khoor, Zruog!"
shift = 3
decrypted_text = caesar_cipher_decrypt(text, shift,alphabet_dict)
print("Original text:", text)
print("Encrypted text:", decrypted_text)

Original text: Khoor, Zruog!
Encrypted text: hello, world!

In [21]:
#44. Find the most frequent word in a string.

In [44]:
def index(frq):
    maximum=frq[0]
    ind=0
    for i in range(len(frq)):
        if frq[i] > maximum:
            maximum=frq[i]
            ind=i
    return ind

def frq_count(string):
    new=string.split()
    frq=[0] * len(new)
    for i in range(len(new)):
        frq[i]=1
        for j in range(i+1,len(new)):
            if new[i]==new[j]:
                frq[i]+=1
                new[j]="0"
                
    max_index=index(frq)
    return new[max_index]


string="Hay Hi Yash Hay how are you you you"
output=frq_count(string)
print("most frequent word in a string: "+ output)

most frequent word in a string: you

In [45]:
#45. Find all unique words in a string.

In [54]:
def index(frq):
    maximum=frq[0]
    ind=0
    for i in range(len(frq)):
        if frq[i] > maximum:
            maximum=frq[i]
            ind=i
    return ind

def frq_count(string):
    new=string.split()
    frq=[0] * len(new)
    for i in range(len(new)):
        frq[i]=1
        for j in range(i+1,len(new)):
            if new[i]==new[j]:
                frq[i]+=1
                new[j]="0"
                
    unique_word=""
    for i in range(len(new)):
        if new[i] != "0" and frq[i] == 1:
            unique_word+=new[i] + " "
    return unique_word


string="Hay Hi Yash Hay how are you you you"
output=frq_count(string)
print("unique word in a string: "+ output)

unique word in a string: Hi Yash how are

In [55]:
# 46. Count the number of syllables in a string.

In [58]:
def count_syllables(word):
    vowels = "aeiouyAEIOUY"
    syllables = 0
    previous_char_was_vowel = False

    for char in word:
        if char in vowels:
            if not previous_char_was_vowel:
                syllables += 1
            previous_char_was_vowel = True
        else:
            previous_char_was_vowel = False

    
    if word.endswith("e"):
        syllables -= 1
    if word.endswith("le") and len(word) > 2 and word[-3] not in vowels:
        syllables += 1
    if syllables == 0:
        syllables += 1  

    return syllables

def count_syllables_in_text(text):
    words = text.split()
    syllable_count = 0

    for word in words:
        syllable_count += count_syllables(word)

    return syllable_count

text = "Count the number of syllables in a string"
syllable_count = count_syllables_in_text(text)
print(f"Total syllables: {syllable_count}")

Total syllables: 11

In [59]:
# 47. Check if a string contains any special characters.

In [20]:
import re
def check(string):
    pattern = re.compile(r'[^a-zA-Z0-9\s]')
    if pattern.search(string):
        return True
    else:
        return False
    

string= "Hello World"
check(string)

False

In [40]:
import re
def check(string):
    pattern = r'[^a-zA-Z0-9\s]'
    match = re.search(pattern,string)
    if match:
         return True
    else:
        return False
    

string= "Hello<! World"
check(string)

True

In [52]:
def contain_special_character(string):
    special_characters = set("!@#$%^&*()-_=+[]{}|;:'\",.<>?/`~\\")
    for char in string:
        if char in special_characters:
            return True
    else:
        return False

string= "Hello<< World"
contain_special_character(string)

True

In [55]:
# 48. Remove the nth word from a string.

In [58]:
def remove_nth_word(string,n):
    lst=string.split()
    lst.pop(n-1)
    new_str= " ".join(lst)
    return new_str

string= "Hello Welcome to pw Skills Lab!"
n= 3
remove_nth_word(string,n)

'Hello Welcome pw Skills Lab!'

In [59]:
# 49. Insert a word at the nth position in a string.

In [60]:
def insert_at_nth_position(string,word,n):
    lst=string.split()
    lst.insert(n-1,word)
    new_str= " ".join(lst)
    return new_str

string= "Hello Welcome to Skills Lab!"
word= "pw"
n=4
insert_at_nth_position(string,word,n)

'Hello Welcome to pw Skills Lab!'

In [61]:
# 50. Convert a CSV string to a list of lists.

In [62]:
import csv
from io import StringIO

csv_string = """Name,Age,Occupation
Alice,30,Engineer
Bob,25,Designer
Charlie,35,Teacher"""

def csv_to_list_of_lists(csv_str):
    f = StringIO(csv_str)
    reader = csv.reader(f, delimiter=',')
    list_of_lists = list(reader)
    return list_of_lists

list_of_lists = csv_to_list_of_lists(csv_string)
print(list_of_lists)

[['Name', 'Age', 'Occupation'], ['Alice', '30', 'Engineer'], ['Bob', '25', 'Designer'], ['Charlie', '35', 'Teacher']]

In [53]:
#List Based Practice Problem :

In [54]:
#1. Create a list with integers from 1 to 10.
integers_list = list(range(1, 11))
print(integers_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
[x for x in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
#2. Find the length of a list without using the `len()` function.

In [3]:
user_list=[2,4,6,8,10]
def list_len(user_list):
    count=0
    for i in user_list:
        count+=1
    return count

print(' length of a list: ',list_len(user_list))

 length of a list:  5

In [5]:
#3. Append an element to the end of a list.

In [6]:
user_list=[2,4,6,8,10]

user_list.append(30)
print(user_list)

[2, 4, 6, 8, 10, 30]

In [7]:
#4. Insert an element at a specific index in a list.

In [10]:
user_list=[2,4,6,8,10]
user_list.insert(3,80)
print(user_list)

[2, 4, 6, 80, 8, 10]

In [11]:
#5. Remove an element from a list by its value.

In [67]:
user_list=[2,4,6,8,10]

def remove_element(element):
    new=[]
    for i in user_list:
        if i !=element:
            new.append(i)
    return new

element=6
print('Remove an element from a list by its value:',remove_element(element))

Remove an element from a list by its value: [2, 4, 8, 10]

In [68]:
user_list=[2,4,6,8,10]

element=6
user_list.remove(element)
print(user_list)

[2, 4, 8, 10]

In [69]:
#6. Remove an element from a list by its index.

In [70]:
user_list=[2,4,6,8,10]
index=3
user_list.pop(index)
print(user_list)

[2, 4, 6, 10]

In [71]:
#7. Check if an element exists in a list.

In [72]:
user_list=[2,4,6,8,10]
element=11
print('element exist in list: ',element in user_list)

element exist in list:  False

In [73]:
#8. Find the index of the first occurrence of an element in a list.

In [74]:
user_list=[2,4,6,8,10,8,4]
element=8
print('index of the first occurrence of an element in a list:',user_list.index(element))

index of the first occurrence of an element in a list: 3

In [75]:
#9. Count the occurrences of an element in a list.

In [76]:
user_list=[2,4,6,8,10,8,4]
element=8
print('Count the occurrences of an element in a list: ',user_list.count(element))

Count the occurrences of an element in a list:  2

In [77]:
#10. Reverse the order of elements in a list.

In [78]:
user_list=[2,4,6,8,10]
new_list=user_list[::-1]
print(' Reverse order of elements in a list:',new_list)

 Reverse order of elements in a list: [10, 8, 6, 4, 2]

In [81]:
user_list=[2,4,6,8,10]
user_list.reverse()
user_list

[10, 8, 6, 4, 2]

In [82]:
#11. Sort a list in ascending order.

In [83]:
user_list=[2,4,60,18,10]
user_list.sort()
print('Sorted list in ascending order:',user_list)

Sorted list in ascending order: [2, 4, 10, 18, 60]

In [84]:
#12. Sort a list in descending order.

In [85]:
user_list=[2,4,60,18,10]
user_list.sort(reverse=True)
print(f'Sorted list in descending order:',user_list)

Sorted list in descending order: [60, 18, 10, 4, 2]

In [86]:
#13. Create a list of even numbers from 1 to 20.

In [87]:
user_list=list(range(1,21))
even_list=[]
for i in user_list:
    if i%2==0:
        even_list.append(i)
print('list of even numbers from 1 to 20:',even_list)

list of even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [88]:
#14. Create a list of odd numbers from 1 to 20.

In [89]:
user_list=list(range(1,21))
odd_list=[]
for i in user_list:
    if i%2!=0:
        odd_list.append(i)
print('list of odd numbers from 1 to 20:',odd_list)

list of odd numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [90]:
#15. Find the sum of all elements in a list.

In [107]:
user_list=[10,20,30,40,50]
s=0
for i in user_list:
    s+=i
print('Find the sum of all elements in a list:',s)

Find the sum of all elements in a list: 150

In [108]:
#16. Find the maximum value in a list.

In [110]:
user_list=[10,20,30,40,50]
m=user_list[0]
for i in user_list:
    if i>m:
        m=i
print('maximum value in a list:',m)

maximum value in a list: 50

In [111]:
#17. Find the minimum value in a list.

In [112]:
user_list=[10,20,30,40,50]
m=user_list[0]
for i in user_list:
    if i<m:
        m=i
print('minimum value in a list:',m)

minimum value in a list: 10

In [113]:
user_list=[10,20,30,40,50]
m=min(user_list)
print('minimum value in a list:',m)

minimum value in a list: 10

In [3]:
#18. Create a list of squares of numbers from 1 to 10.

In [114]:
numbers=list(range(1,11))
squares=[]
for i in numbers:
    sq=pow(i,2)
    squares.append(sq)
print('list of squares of numbers from 1 to 10: ',squares)

list of squares of numbers from 1 to 10:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [115]:
#19. Create a list of random numbers.

In [116]:
import random
random_list=[]
for i in range(11):
    r=random.randint(1,100)
    random_list.append(r)
print('list of random numbers: ',random_list)

list of random numbers:  [45, 98, 76, 62, 17, 50, 49, 21, 45, 15, 79]

In [14]:
#20. Remove duplicates from a list.

In [120]:
duplicate_list=[2,4,3,5,4,2,10,5]
unique_list=[]
for item in duplicate_list:
      if item not in unique_list:
            unique_list.append(item)

print('unique_list: ',unique_list)

unique_list:  [2, 4, 3, 5, 10]

In [121]:
original_list = [1, 2, 3, 2, 1, 4, 5]
unique_list = list(set(original_list))
print(unique_list)

[1, 2, 3, 4, 5]

In [122]:
#21. Find the common elements between two lists.

In [123]:
original_list1 = [1, 2, 3, 2, 1, 4, 5]
original_list2=[2,1,4,10,50]
common_list=[]

original_list1=list(set(original_list1))
for item in original_list1:
    if item in original_list2:
        common_list.append(item)

print('common elements between two lists: ',common_list)

common elements between two lists:  [1, 2, 4]

In [27]:
#22. Find the difference between two lists.

In [124]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

difference1 = list(set(list1) - set(list2))
difference2 = list(set(list2) - set(list1))
print("Elements in list1 but not in list2:", difference1)
print("Elements in list2 but not in list1:", difference2)

Elements in list1 but not in list2: [1, 2]
Elements in list2 but not in list1: [6, 7]

In [125]:
#23. Merge two lists.

In [126]:
list1=[2,4,6]
list2=[3,9,13]

list1.extend(list2)

print('Merged_list: ',list1)

Merged_list:  [2, 4, 6, 3, 9, 13]

In [127]:
#24. Multiply all elements in a list by 2.

In [128]:
list1=[2,3,4,5]
multiply_list=[]

for item in list1:
    multiply_list.append(item*2)
    
print('Multiply all elements in a list by 2:',multiply_list)

Multiply all elements in a list by 2: [4, 6, 8, 10]

In [129]:
#25. Filter out all even numbers from a list.

In [130]:
list1=[2,4,3,5,4,2,10,5]
even_number=[]
for i in list1:
    if i%2==0:
        even_number.append(i)

print(' even numbers from a list:',even_number)

 even numbers from a list: [2, 4, 4, 2, 10]

In [131]:
#26. Convert a list of strings to a list of integers.

In [132]:
string_list=['2','3','5','7','35','22']
number_list=[]
for i in string_list:
    number_list.append(int(i))

print('number_list:',number_list)

number_list: [2, 3, 5, 7, 35, 22]

In [133]:
#27. Convert a list of integers to a list of strings.

In [134]:
number_list= [2, 3, 5, 7, 35, 22]
string_list=[]

for item in number_list:
    string_list.append(str(item))
    
print('list of integers to a list of strings:',string_list)

list of integers to a list of strings: ['2', '3', '5', '7', '35', '22']

In [135]:
#28. Flatten a nested list.

In [136]:
def flatten(lst):
    flattened_list = []
    for item in lst:
        if isinstance(item, list):
            
            flattened_list.extend(flatten(item))
        else:
            flattened_list.append(item)
    return flattened_list


nested_list = [[1, 2, [3]], 4, [5, 6]]


flattened_list = flatten(nested_list)


print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6]

In [22]:
#29. Create a list of the first 10 Fibonacci numbers.

In [1]:
def fibonnacci(n):
    fib_list=[0,1]
    for i in range(2,n):
        next_fib=fib_list[i-1]+fib_list[i-2]
        fib_list.append(next_fib)
    return fib_list

n=10
fib_num=fibonnacci(n)
print('Fibonacci numbers:',fib_num)

Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [5]:
#30. Check if a list is sorted.

In [137]:
def is_sorted(lst):
    k=0
    for i in range(len(lst)-1):
        if lst[i]<=lst[i+1]:
            pass
        else:
            k=1
    return k==0

lst=[1,2,3,3,4,56]
print('List is sorted in ascending order:',is_sorted(lst))

List is sorted in ascending order: True

In [42]:
#31. Rotate a list to the left by `n` positions.

In [138]:
def l_rotate(lst,n):
    after_list=[]
    safe_rotation=n%len(lst)
    after_list=lst[safe_rotation:]+lst[:safe_rotation]
    return after_list

original_list=[1,2,3,4,5]
rotation_amount=2
left_rotate=l_rotate(original_list,rotation_amount)
print('Before rotation:',original_list)
print('After rotation:',left_rotate)

Before rotation: [1, 2, 3, 4, 5]
After rotation: [3, 4, 5, 1, 2]

In [44]:
#32. Rotate a list to the right by `n` positions.

In [139]:
def r_rotate(lst,n):
    after_list=[]
    safe_rotation=n%len(lst)
    after_list=lst[safe_rotation+1:]+lst[:safe_rotation+1]
    return after_list

original_list=[1,2,3,4,5]
rotation_amount=2
right_rotate=r_rotate(original_list,rotation_amount)
print('Before rotation:',original_list)
print('After rotation:',right_rotate)

Before rotation: [1, 2, 3, 4, 5]
After rotation: [4, 5, 1, 2, 3]

In [51]:
#33. Create a list of prime numbers up to 50.

In [8]:
def is_prime(num):
    if num<2:
        return False
    if num==2:
        return True
    if num%2==0:
        return False
    
    divisor=int(num**0.5)+1
    for i in range(3,divisor,2):
        if num%i==0:
            return False
    return True
        

prime_no_upto_50=[num for num in range(2,51) if is_prime(num)]
print('Prime no upto 50: ',prime_no_upto_50)

Prime no upto 50:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [145]:
def prime_no(n):
    prime_no=[]
    for i in range(2,n+1):
        is_prime=True
        for j in range(2,i):
            if i%j == 0:
                is_prime = False
        if is_prime:
            prime_no.append(i)
    return prime_no

n=50
prime_no(n)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [12]:
#34. Split a list into chunks of size `n`.

In [144]:
def split_into_chunk(lst,chunk_size):
    for i in range(0,len(lst),chunk_size):
        yield lst[i:i+chunk_size]

lst=[1,2,3,4,5,6,7,8,9]
chunk_size=3
output=list(split_into_chunk(lst,chunk_size))
print('Split a list into chunks of size `n`:',output)

Split a list into chunks of size `n`: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [15]:
#35. Find the second largest number in a list.

In [148]:
def second_largest(num):
    
    largest=float('-inf')
    second_largest=float('-inf')
    
    for i in num:
        if i>largest:
            second_largest=largest
            largest=i
        elif i>second_largest and i != largest:
            second_largest=i
    return second_largest

num_list=[34,56,87,78,90,100,23]
output=second_largest(num_list)
print('second largest:',output)

second largest: 90

In [149]:
# 36. Replace every element in a list with its square.

In [155]:
def square_list(num_list):
    sq_lst=[]
    for num in num_list:
        sq_num = pow(num,2)
        sq_lst.append(sq_num)
    return sq_lst

num_list=[2,3,5,7]
square_list(num_list)

[4, 9, 25, 49]

In [156]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [158]:
def lst_to_dict(lst):
    dic={}
    for num in lst:
        dic[num]=lst.index(num)
    return dic

lst=[2,3,5,7,11,13,17,19]
lst_to_dict(lst)

{2: 0, 3: 1, 5: 2, 7: 3, 11: 4, 13: 5, 17: 6, 19: 7}

In [160]:
my_list = ['a', 'b', 'c', 'd']
my_dict = {element: index for index, element in enumerate(my_list)}
print(my_dict)

{'a': 0, 'b': 1, 'c': 2, 'd': 3}

In [161]:
# 38. Shuffle the elements of a list randomly.

In [163]:
import random
my_list = ['a', 'b', 'c', 'd', 'e']
random.shuffle(my_list)
print(my_list)

['e', 'a', 'c', 'd', 'b']

In [164]:
#39. Create a list of the first 10 factorial numbers.

In [166]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
    
factorial_list = [factorial(i) for i in range(10)]


print(factorial_list)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [167]:
# 40. Check if two lists have at least one element in common.

In [171]:
def check_common(lst1,lst2):
    for num in lst1:
        if num in lst2:
            return True
    return False

lst1=[2,3,5]
lst2=[2,6,9]
check_common(lst1,lst2)

True

In [172]:
# 41. Remove all elements from a list.

In [173]:
def remove_all_ele(lst):
    lst.clear()
    return lst

lst=[2,3,5,7,9]
remove_all_ele(lst)

[]

In [174]:
# 42. Replace negative numbers in a list with 0.

In [176]:
def replace_negative(lst):
    for i in range(len(lst)):
        if lst[i] < 0:
            lst[i] = 0
    return lst
            
lst=[2,-11,3,-4,5,6,-7]
replace_negative(lst)

[2, 0, 3, 0, 5, 6, 0]

In [177]:
# 43. Convert a string into a list of words.

In [178]:
def convert_str_to_word(string):
    return string.split()

string = "Welcome to Data Science Cource"
convert_str_to_word(string)

['Welcome', 'to', 'Data', 'Science', 'Cource']

In [179]:
# 44. Convert a list of words into a string.

In [180]:
def list_to_string(lst_of_word):
    return " ".join(lst_of_word) 

lst_of_word = ['Welcome', 'to', 'Data', 'Science', 'Cource']
list_to_string(lst_of_word )

'Welcome to Data Science Cource'

In [181]:
# 45. Create a list of the first `n` powers of 2.

In [182]:
def powers_of_2(n):
    return [2**i for i in range(n)]


n = 5
powers_list = powers_of_2(n)
print(powers_list)

[1, 2, 4, 8, 16]

In [183]:
#46. Find the longest string in a list of strings.

In [184]:
def longest_string(string_lst):
    long_str_len=0
    long_str=None
    for string in string_lst:
        if len(string) > long_str_len:
            long_str=string
            long_str_len = len(string)
    return long_str

string_lst=["Hello","Welcome","Yash","Hi"]
longest_string(string_lst)

'Welcome'

In [185]:
# 47. Find the shortest string in a list of strings.

In [188]:
def shortest_string(string_lst):
    short_str_len=float("inf")
    short_str=None
    for string in string_lst:
        if len(string) < short_str_len:
            short_str=string
            short_str_len = len(string)
    return short_str

string_lst=["Hello","Welcome","Yash","Hi"]
shortest_string(string_lst)

'Hi'

In [193]:
# 48. Create a list of the first `n` triangular numbers.

In [196]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

n = 7
triangular_list = triangular_numbers(n)
print(triangular_list)

[1, 3, 6, 10, 15, 21, 28]

In [197]:
# 49. Check if a list contains another list as a subsequence.

In [200]:
def is_subsequence(main_list, subsequence_list):
    # Convert lists to sets
    main_set = set(main_list)
    subsequence_set = set(subsequence_list)
    
    return subsequence_set.issubset(main_set)


main_list = [1, 2, 3, 4, 5, 6, 7]
subsequence_list1 = [2, 4, 6]   
subsequence_list2 = [2, 5, 8]  

print(is_subsequence(main_list, subsequence_list1))  
print(is_subsequence(main_list, subsequence_list2))

True
False

In [201]:
# 50. Swap two elements in a list by their indices.

In [203]:
def swap_indices(lst,index1,index2):
    lst[index1],lst[index2] = lst[index2],lst[index1]
    return lst
    
lst=[2,4,6,8,9,10]
index1=2
index2=5
swap_indices(lst,index1,index2)

[2, 4, 10, 8, 9, 6]

In [1]:
# Tuple Based Practice Problem :

In [2]:
# 1. Create a tuple with integers from 1 to 5

In [7]:
print(tuple(i for i in range(1,6)))

(1, 2, 3, 4, 5)

In [9]:
# 2. Access the third element of a tuple.

In [10]:
t=(1, 2, 3, 4, 5)
t[2]

3

In [11]:
# 3. Find the length of a tuple without using the `len()` function

In [12]:
t=(1,2,3,4,5)
l=0
for i in t:
    l+=1
print(f"Length of tuple: {l}")

Length of tuple: 5

In [13]:
#4. Count the occurrences of an element in a tuple.

In [17]:
t=(1,2,2,3,4,5,3,2,7,5)
ele=2
t.count(ele)

3

In [19]:
# 5. Find the index of the first occurrence of an element in a tuple.

In [21]:
t=(1,2,2,3,4,5,3,2,7,5)
t.index(3)

3

In [22]:
# 6. Check if an element exists in a tuple

In [26]:
t=(1,2,2,3,4,5,3,2,7,5)
ele = 14
if ele in t:
    print(f"element '{ele}' exists in a tuple")
else:
    print(f"element '{ele}' not exists in a tuple")

element '14' not exists in a tuple

In [25]:
# 7. Convert a tuple to a list.

In [28]:
t=(1,2,2,3,4,5,3,2,7,5)
list(t)

[1, 2, 2, 3, 4, 5, 3, 2, 7, 5]

In [29]:
# 8. Convert a list to a tuple.

In [30]:
l=[1,2,2,3,4,5,3,2,7,5]
tuple(t)

(1, 2, 2, 3, 4, 5, 3, 2, 7, 5)

In [31]:
# 9. Unpack the elements of a tuple into variables

In [33]:
t=("PW","Skills","Lab")
x,y,z = t
print(x)
print(y)
print(z)

PW
Skills
Lab

In [34]:
# 10. Create a tuple of even numbers from 1 to 10.

In [36]:
t=tuple([i for i in range(1,11) if i % 2 == 0])
t

(2, 4, 6, 8, 10)

In [37]:
# 11. Create a tuple of odd numbers from 1 to 10.

In [38]:
t=tuple([i for i in range(1,11) if i % 2 != 0])
t

(1, 3, 5, 7, 9)

In [39]:
# 12. Concatenate two tuples.

In [40]:
t1=(1,2,3)
t2=(5,6,7)
t1 + t2

(1, 2, 3, 5, 6, 7)

In [41]:
# 13. Repeat a tuple three times.

In [42]:
t= (1,2,3)
t * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [43]:
# 14. Check if a tuple is empty.

In [47]:
t=()
if t:
    print("Tuple is not empty")
else:
    print("Tuple is empty")

Tuple is empty

In [48]:
# 15. Create a nested tuple.

In [66]:
t=((1,2,3),(4,5,6),(7,8))
t

((1, 2, 3), (4, 5, 6), (7, 8))

In [67]:
# 16. Access the first element of a nested tuple.

In [68]:
t[0]

(1, 2, 3)

In [69]:
# 17. Create a tuple with a single element

In [70]:
t=("Yash",)
print(f"tuple with a single element {t}")

tuple with a single element ('Yash',)

In [71]:
# 18. Compare two tuples.

In [74]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
tuple3 = (1, 2, 3)

print(tuple1 == tuple2)  
print(tuple1 == tuple3)  

print(tuple1 != tuple2)  
print(tuple1 != tuple3)  

print(tuple1 < tuple2)  
print(tuple1 <= tuple2)
print(tuple1 > tuple2)  
print(tuple1 >= tuple2) 

tuple4 = (1, 2)
print(tuple1 > tuple4)

False
True
True
False
True
True
False
False
True

In [75]:
# 19. Delete a tuple.

In [80]:
my_tuple = (1, 2, 3, 4, 5)

del my_tuple

try:
    print(my_tuple)
except NameError as e:
    print(e)

name 'my_tuple' is not defined

In [81]:
# 20. Slice a tuple.

In [82]:
t = (1,2,4,5,3,6)
print("slicing tuple for element from 2 to 5",t[2:6])

slicing tuple for element from 2 to 5 (4, 5, 3, 6)

In [83]:
# 21. Find the maximum value in a tuple.

In [87]:
def find_max(t):
    max_ele = t[0]
    for i in range(1,len(t)):
        if t[i] > max_ele:
            max_ele = t[i]
    return max_ele

t = (1,2,4,5,3)
find_max(t)

5

In [88]:
# 22. Find the minimum value in a tuple.

In [89]:
def find_min(t):
    min_ele = t[0]
    for i in range(1,len(t)):
        if t[i] < min_ele:
            min_ele = t[i]
    return min_ele

t = (1,2,4,5,3)
find_min(t)

1

In [91]:
# 23. Convert a string to a tuple of characters.

In [96]:
my_string = "hello"

my_tuple = tuple(my_string)

print(my_tuple)

('h', 'e', 'l', 'l', 'o')

In [97]:
# 24. Convert a tuple of characters to a string

In [1]:
my_tuple = ('h', 'e', 'l', 'l', 'o')

my_string = "".join(my_tuple)

print(my_string)

hello

In [2]:
# 25. Create a tuple from multiple data types.

In [4]:
t=("Hi",2,3.14,True,3+5j,[1,2,"PW"],{"Name":"Yash","Qualification":"Computer Engineering"},{1,2,3,4},(1,2,3))
t

('Hi',
 2,
 3.14,
 True,
 (3+5j),
 [1, 2, 'PW'],
 {'Name': 'Yash', 'Qualification': 'Computer Engineering'},
 {1, 2, 3, 4},
 (1, 2, 3))

In [5]:
# 26. Check if two tuples are identical.

In [15]:
t1 = (1,2,3)
t2 = (1,2,3)
t3 = t1
if t1 == t2:
    print(f"tuples 't1' and 't2' are identical(values are same)")
if t1 is t3:
    print(f"tuples 't1' and 't3' are identical(value inside tuple are same and both tuple pointing to same memory location)")
else:
    print("tuples are not identical.")

tuples 't1' and 't2' are identical(values are same)
tuples 't1' and 't3' are identical(value inside tuple are same and both tuple pointing to same memory location)

In [16]:
# 27. Sort the elements of a tuple.

In [21]:
t=(1,67,3,24,5,16)
lst=list(t)
lst.sort()
tuple(lst)

(1, 3, 5, 16, 24, 67)

In [22]:
# 28. Convert a tuple of integers to a tuple of strings.

In [23]:
t1 = (1,2,4,6,5)
lst=[]
for i in t1:
    lst.append(str(i))
tuple(lst)

('1', '2', '4', '6', '5')

In [27]:
# 29. Convert a tuple of strings to a tuple of integers.

In [28]:
t = (1,2,4,6,5)
new_tuple = tuple(int(i) for i in t)
new_tuple

(1, 2, 4, 6, 5)

In [29]:
# 30. Merge two tuples.

In [30]:
t1 = (1,2,3)
t2 = (4,5,6)
t1 + t2

(1, 2, 3, 4, 5, 6)

In [31]:
# 31. Flatten a nested tuple.

In [41]:
def flatten_tuple(nested_tuple):
    flat_tuple = ()
    for item in nested_tuple:
        if isinstance(item,(tuple,list)):
            flat_tuple += flatten_tuple(item)
        else:
            flat_tuple += (item,)
    return flat_tuple

nested_tuple = (1, (2, 3), (4, (5, 6)), 7)
flat_tuple = flatten_tuple(nested_tuple)
print(flat_tuple)

(1, 2, 3, 4, 5, 6, 7)

In [42]:
# 32. Create a tuple of the first 5 prime numbers.

In [48]:
def prime_no(n):
    tup = ()
    for i in range(2,n):
        is_prime = True
        for j in range(2,i):
            if i % j == 0:
                is_prime = False
        if is_prime:
            tup += (i,)
    return tup

n=5
prime_no(n)

(2, 3)

In [49]:
# 33. Check if a tuple is a palindrome.

In [60]:
def is_tuple_palindrome(t1):
    t2 = ()
    for i in range(len(t1)-1,-1,-1):
        t2 += (t1[i],)
    return t1 == t2

t1 = (1,2,1)
if is_tuple_palindrome(t1):
    print("tuple is a palindrome")
else:
    print("tuple is not palindrome")

tuple is a palindrome

In [61]:
# 34. Create a tuple of squares of numbers from 1 to 5.

In [62]:
def tuple_of_square(start,end):
    t = ()
    for i in range(start,end+1):
        sq = pow(i,2)
        t += (sq,)
    return t
    
start = 1
end = 5
tuple_of_square(start,end)

(1, 4, 9, 16, 25)

In [63]:
# 35. Filter out all even numbers from a tuple.

In [64]:
t = (1,2,3,4,5,6)
even_tuple = ()
for i in t:
    if i % 2 == 0:
        even_tuple += (i,)
print(even_tuple)

(2, 4, 6)

In [65]:
# 36. Multiply all elements in a tuple by 2

In [66]:
t = (1,2,3,4,5,6)
mul_tuple = ()
for i in t:
    mul_tuple += (i*2,)
print(mul_tuple)

(2, 4, 6, 8, 10, 12)

In [67]:
# 37. Create a tuple of random numbers.

In [72]:
from random import randint
random_num_tuple = ()
for i in range(5):
    random_num_tuple += (randint(1,100),)
print(random_num_tuple)

(49, 98, 70, 70, 62)

In [73]:
# 38. Check if a tuple is sorted.

In [76]:
t = (1,2,3,4,5,2)
is_ascending_sort = True
for i in range(len(t)-1):
    if t[i] > t[i+1]:
        is_ascending_sort = False
        
print(f"tuple is sorted in ascending order: {is_ascending_sort}")

tuple is sorted in ascending order: False

In [77]:
# 39. Rotate a tuple to the left by `n` positions.

In [87]:
def rotate_tuple_left(t,n):
    safe_rotate = n % len(t)
    return t[safe_rotate :] + t[:safe_rotate]
        
t = (1,2,3,4,5)
n = 2
rotate_tuple_left(t,n)

(3, 4, 5, 1, 2)

In [80]:
# 40. Rotate a tuple to the right by `n` positions.

In [89]:
def rotate_tuple_right(t,n):
    safe_rotate = n % len(t)
    return t[safe_rotate+1:] + t[:safe_rotate +1]
        
t = (1,2,3,4,5)
n = 7
rotate_tuple_right(t,n)

(4, 5, 1, 2, 3)

In [90]:
# 41. Create a tuple of the first 5 Fibonacci numbers.

In [93]:
def fibonacci_tuple(n):
    t = (0,1)
    for i in range(2,n+1):
        num = t[i-1] + t[i-2]
        t += (num,)
    return t

n = 5
fibonacci_tuple(n)

(0, 1, 1, 2, 3, 5)

In [94]:
# 42. Create a tuple from user input.

In [96]:
t = ()
input1 = int(input("How many values want to add inside tuple: "))
for i in range(input1):
    t += (input(),)
t

How many values want to add inside tuple: 5
1
2
Hi
Welcome
5

('1', '2', 'Hi', 'Welcome', '5')

In [97]:
# 43. Swap two elements in a tuple.

In [100]:
t = (1,2,3,4,5)
lst=list(t)
lst[2],lst[4] = lst[4],lst[2]
tuple(lst)

(1, 2, 5, 4, 3)

In [101]:
# 44. Reverse the elements of a tuple.

In [105]:
t = (1,2,3,4,5)
lst = list(t)
lst.reverse()
tuple(lst)

(5, 4, 3, 2, 1)

In [106]:
# 45. Create a tuple of the first `n` powers of 2.

In [109]:
t = ()
n = 5
for i in range(n):
    t += (pow(2,i),)
t

(1, 2, 4, 8, 16)

In [110]:
# 46. Find the longest string in a tuple of strings.

In [117]:
t = ("Welcome","to","PW","Data","Science","Class")
long_string_len = float("-inf")
longest_string = None

for string in t:
    if len(string) > long_string_len:
        long_string_len = len(string)
        longest_string = string
        
print(longest_string)

Welcome

In [118]:
# 47. Find the shortest string in a tuple of strings.

In [119]:
t = ("Welcome","to","PW","Data","Science","Class")
short_string_len = float("inf")
short_string = None

for string in t:
    if len(string) < short_string_len:
        short_string_len = len(string)
        short_string = string
        
print(short_string)

to

In [120]:
# 48. Create a tuple of the first `n` triangular numbers.

In [121]:
def triangular_numbers(n):
    return tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

n = 5
result = triangular_numbers(n)
print(result)

(1, 3, 6, 10, 15)

In [122]:
# 49. Check if a tuple contains another tuple as a subsequence

In [126]:
t = (1,2,"Hi",(5,6,"Hello"))
for item in t:
    if isinstance(item,(tuple)):
        print("tuple contains another tuple as a subsequence")
        break
else:
     print("tuple does not contains another tuple as a subsequence")

tuple contains another tuple as a subsequence

In [127]:
#50. Create a tuple of alternating 1s and 0s of length `n`.

In [130]:
def alternating_ones_zeros(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))

n = 10
result = alternating_ones_zeros(n)
print(result)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

In [131]:
# Set Based Practice Problem :

In [132]:
# 1. Create a set with integers from 1 to 5.

In [140]:
set(i for i in range(1,6))

{1, 2, 3, 4, 5}

In [141]:
# 2. Add an element to a set.

In [142]:
s = {1,2,3,4,5}
s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [143]:
# 3. Remove an element from a set.

In [146]:
s = {1,2,3,4,5,6,"Hi","Yash"}
s.remove(2)
s

{1, 3, 4, 5, 6, 'Hi', 'Yash'}

In [147]:
s.discard(4)
s

{1, 3, 5, 6, 'Hi', 'Yash'}

In [148]:
s.pop()
s

{3, 5, 6, 'Hi', 'Yash'}

In [149]:
# 4. Check if an element exists in a set.

In [151]:
s = {1,2,3,4,5,6}
ele = 30
if ele in s:
    print(f" element '{ele}' exists in a set.")
else:
    print(f" element '{ele}' does not exists in a set.")

 element '30' does not exists in a set.

In [152]:
# 5. Find the length of a set without using the `len()` function.

In [153]:
s = {1,2,3,4,5,6}
l = 0
for i in s:
    l+=1
print("length of a set",l)

length of a set 6

In [154]:
# 6. Clear all elements from a set.

In [155]:
s = {1,2,3,4,5,6}
s.clear()
s

set()

In [156]:
# 7. Create a set of even numbers from 1 to 10

In [157]:
set(i for i in range(1,11) if i % 2 == 0)

{2, 4, 6, 8, 10}

In [158]:
# 8. Create a set of odd numbers from 1 to 10.

In [159]:
set(i for i in range(1,11) if i % 2 != 0)

{1, 3, 5, 7, 9}

In [160]:
# 9. Find the union of two sets

In [161]:
s1 = {1,2,3}
s2 = {4,5,6,7}
s3 = s1.union(s2)
s3

{1, 2, 3, 4, 5, 6, 7}

In [162]:
# 10. Find the intersection of two sets.

In [163]:
s1 = {1,2,3}
s2 = {4,2,6,3}
s3 = s1.intersection(s2)
s3

{2, 3}

In [164]:
s4 = s1 & s2
s4

{2, 3}

In [166]:
s1.intersection_update(s2)
s1

{2, 3}

In [167]:
# 11. Find the difference between two sets.

In [170]:
s1 = {1,2,3,4}
s2 = {3,4,7,8}
s3 = s1.difference(s2)
s4 = s2.difference(s1)
print(s3)
print(s4)

{1, 2}
{8, 7}

In [172]:
s5 = s1 - s2
s6 = s2 - s1
print(s5)
print(s6)

{1, 2}
{8, 7}

In [174]:
s1.difference_update(s2)
s1

{1, 2}

In [176]:
# 12. Check if a set is a subset of another set.

In [179]:
s1 = {1,2,3,4}
s2 = {5,6,3,2,4,1}
s1.issubset(s2)

True

In [180]:
# 13. Check if a set is a superset of another set

In [181]:
s1 = {1,2,3,4}
s2 = {5,6,3,2,4,1}
s2.issuperset(s1)

True

In [182]:
# 14. Create a set from a list.

In [183]:
s = set([i for i in range(10)])
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [184]:
# 15. Convert a set to a list.

In [185]:
s1 = {1,2,3,4,5}
l = list(s1)
l

[1, 2, 3, 4, 5]

In [186]:
# 16. Remove a random element from a set.

In [198]:
s1 = {1,7,2,3,4,5}
ele = s1.pop()
print(ele)
print(s1)

1
{2, 3, 4, 5, 7}

In [195]:
# 17. Pop an element from a set.

In [199]:
s1 = {1,2,3,4,5}
ele = s1.pop()
ele

1

In [200]:
# 18. Check if two sets have no elements in common.

In [203]:
s1 = {1,2,3}
s2 = {4,5,6}
if s1.isdisjoint(s2):
    print("sets have no elements in common.")
else:
    print("sets have elements in common.")

sets have no elements in common.

In [204]:
# 19. Find the symmetric difference between two sets.

In [208]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s3 = s1.symmetric_difference(s2)
s4 = s1 ^ s2
print(s3)
print(s4)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [209]:
s1.symmetric_difference_update(s2)
s1

{1, 2, 3, 6, 7, 8}

In [211]:
# 20. Update a set with elements from another set.

In [212]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.update(s2)
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [214]:
# 21. Create a set of the first 5 prime numbers.

In [216]:
def prime_no(n):
    prime_no=set()
    for i in range(2,n+1):
        is_prime=True
        for j in range(2,i):
            if i%j == 0:
                is_prime = False
        if is_prime:
            prime_no.add(i)
    return prime_no

n=5
prime_no(n)

{2, 3, 5}

In [217]:
# 22. Check if two sets are identical.

In [218]:
set1 = {1, 2, 3}
set2 = {1, 2, 3}
set3 = set1
print(set1 is set2)  
print(set1 is set3)  
print(set1 == set2)

False
True
True

In [219]:
# 23. Create a frozen set.

In [223]:
regular_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(regular_set)
print(frozen_set)

frozenset({1, 2, 3, 4, 5})

In [224]:
# 24. Check if a set is disjoint with another set.

In [231]:
s1 = {1,2,3}
s2 = {"Hi","Hello"}
if s1.isdisjoint(s2):
    print(f"set '{s1}' and '{s2}' is disjoint set.")
else:
    print(f"set '{s1}' and '{s2}' is joint set.")

set '{1, 2, 3}' and '{'Hello', 'Hi'}' is disjoint set.

In [232]:
# 25. Create a set of squares of numbers from 1 to 5.

In [233]:
set(pow(i,2) for i in range(1,6))

{1, 4, 9, 16, 25}

In [234]:
# 26. Filter out all even numbers from a set.

In [237]:
s1 = set(i for i in range(1,11))
even_set = set()
for i in s1:
    if i % 2 == 0:
        even_set.add(i)
even_set

{2, 4, 6, 8, 10}

In [238]:
# 27. Multiply all elements in a set by 2.

In [240]:
s1 = {1,2,3,4,5}
new_set =set(i * 2 for i in s1)
new_set

{2, 4, 6, 8, 10}

In [241]:
# 28. Create a set of random numbers.

In [243]:
import random
s1 = set()
for i in range(5):
    s1.add(random.randint(1,100))
s1

{13, 17, 24, 62, 74}

In [244]:
# 29. Check if a set is empty

In [250]:
s1 = set()
if s1:
    print("Set is not empty")
else:
    print("Set is empty")

Set is empty

In [251]:
# 30. Create a nested set (hint: use frozenset).

In [255]:
frozen_set1 = frozenset([1, 2, 3])
frozen_set2 = frozenset([4, 5, 6])
frozen_set3 = frozenset([7, 8, 9])

nested_set = {frozen_set1, frozen_set2, frozen_set3}

print(nested_set)

{frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})}

In [265]:
# 31. Remove an element from a set using the discard method.

In [268]:
s1 = {1,2,3,4,5,"Yash"}
s1.discard("Yash")
s1

{1, 2, 3, 4, 5}

In [269]:
# 32. Compare two sets.

In [280]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
set3 = {1, 2, 4}

print(set1 == set2) 
print(set1 == set3)

True
False

In [281]:
set1 = {1, 2}
set2 = {1, 2, 3}

print(set1 <= set2)  
print(set1 < set2)

True
True

In [282]:
set1 = {1, 2, 3}
set2 = {1, 2}

print(set1 >= set2) 
print(set1 > set2)

True
True

In [283]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = {3, 4, 5}

print(set1.isdisjoint(set2))  
print(set1.isdisjoint(set3))

True
False

In [285]:
# 33. Create a set from a string.

In [303]:
my_string = "hello"
my_set = set(my_string)
print(my_set)

{'e', 'h', 'l', 'o'}

In [304]:
# 34. Convert a set of strings to a set of integers

In [307]:
s1 = {"1","2","3","4","5"}
s2 = {int(i) for i in s1}
s2

{1, 2, 3, 4, 5}

In [308]:
# 35. Convert a set of integers to a set of strings.

In [309]:
s1 = {1,2,3,4,5}
s2 = {str(i) for i in s1}
s2

{'1', '2', '3', '4', '5'}

In [310]:
# 36. Create a set from a tuple.

In [312]:
t = (1,2,3)
s1 = set()
s1.update(t)
s1

{1, 2, 3}

In [313]:
# 37. Convert a set to a tuple.

In [314]:
s1 = {1,2,3,4,5}
t = tuple(s1)
t

(1, 2, 3, 4, 5)

In [315]:
# 38. Find the maximum value in a set.

In [317]:
user_set = {1,2,3,4,3}
m=float("-inf")
for i in user_set:
    if i>m:
        m=i
print('maximum value in a set:',m)

maximum value in a set: 4

In [318]:
# 39. Find the minimum value in a set.

In [319]:
user_set = {1,2,3,4,3}
m=float("inf")
for i in user_set:
    if i < m:
        m=i
print('minimum value in a set:',m)

minimum value in a set: 1

In [321]:
# 40. Create a set from user input.

In [323]:
n = int(input("Number of value in set :"))
s =  set()
for i in range(n):
    value = input()
    s.add(value)
s

Number of value in set :5
2
Hi
Welcome
Yash
45

{'2', '45', 'Hi', 'Welcome', 'Yash'}

In [324]:
# 41. Check if the intersection of two sets is empty.

In [326]:
s1 = {1,2,3,4}
s2 = {6,8}

if s1.intersection(s2):
    print("intersection of two sets is not empty")
else:
    print("intersection of two sets is empty")

intersection of two sets is empty

In [327]:
# 42. Create a set of the first 5 Fibonacci numbers.

In [332]:
def fibonnacci(n):
    fib_list=[0,1]
    for i in range(2,n+1):
        next_fib=fib_list[i-1]+fib_list[i-2]
        fib_list.append(next_fib)
    return set(fib_list)

n=5
fib_num=fibonnacci(n)
print('Fibonacci numbers:',fib_num)

Fibonacci numbers: {0, 1, 2, 3, 5}

In [333]:
# 43. Remove duplicates from a list using sets

In [334]:
lst = [1,2,4,3,2,1,4,7,7]
s = set(lst)
s

{1, 2, 3, 4, 7}

In [335]:
# 44. Check if two sets have the same elements, regardless of their count.

In [336]:
def same_elements(set1, set2):
    return set1 <= set2 and set2 <= set1

set1 = {1, 2, 3, 4}
set2 = {2, 1, 4, 3}
set3 = {1, 2, 2, 3, 4}

print(same_elements(set1, set2))  
print(same_elements(set1, set3))

True
True

In [337]:
# 45. Create a set of the first `n` powers of 2.

In [341]:
def powers_of_2(n):
    return {2 ** i for i in range(n)}

n = 5
result = powers_of_2(n)
print(result)

{1, 2, 4, 8, 16}

In [342]:
# 46. Find the common elements between a set and a list.

In [343]:
s1 = {1,2,3,4,5}
lst = [1,2,4]
s3 = s1.intersection(lst)
s3

{1, 2, 4}

In [344]:
# 47. Create a set of the first `n` triangular numbers.

In [345]:
def set_of_n_triangular_no(n):
    s1 = {(i*(i+1))//2 for i in range(1,n+1)}
    return s1

n = 10
set_of_n_triangular_no(n)

{1, 3, 6, 10, 15, 21, 28, 36, 45, 55}

In [348]:
# 48. Check if a set contains another set as a subset.

In [349]:
s1 = {1,2,3,4}
s2 = {1,2}
s2.issubset(s1)

True

In [350]:
# 49. Create a set of alternating 1s and 0s of length `n`.

In [353]:
def altering_set(n):
    return {1 if i % 2 == 0 else 0 for i in range(n)}

n=10
altering_set(n)

{0, 1}

In [354]:
# 50. Merge multiple sets into one

In [356]:
s1 = {1,2,3,4}
s2 = {4,5,"Hello","Yash"}
s3 = {"End", "Of","Assignment"}

s1.update(s1,s2,s3)
s1

{1, 2, 3, 4, 5, 'Assignment', 'End', 'Hello', 'Of', 'Yash'}